<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ "/" | relative_url }}">&nbsp;</a>
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container" id='body'>
        {{ content }}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ "/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>
  </body>

</html>
